[Desktop Entry]
Name=Bash-Template
Comment=Document Name
Type=Link
URL=/home/rocket/Templates/Bash-Template.sh
Icon=gedit
#Icon=application-vnd.oasis.opendocument.text

